/* appointments.css */

.appointments-container {
    margin: 20px;
    width: 70%;
  }
  
  .appointments-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
  }
  
  .appointment-item {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 20px;
  }
  
  .appointment-item p {
    font-size: 14px;
    margin-bottom: 5px;
  }
  