/* .profile-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(228, 228, 228);
} */

.navbar {
  background-color: rgb(29, 185, 99);
  text-align: right;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.sidebar-appointments-container {
  position: relative;
}

.sidebar-container {
  background-color: rgb(228, 228, 228);
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 70%;
  margin: 3%;
  margin-left: 1%;
  border-radius: 20px;
}

.appointments-container {
  background-color: rgb(228, 228, 228);
  padding: 20px;
  position: fixed;
  right: 0;
  top: 0;
  left: 25%;
  margin: 3%;
  border-radius: 20px;
}
