/* .navbar { 
  background-color: rgb(29, 185, 99);
  text-align: right;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1; 
}

.content-container {
  margin-top: 100px;
}

.container {
  height: 100%;
  position: fixed;
  top: 50px;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidebar {
  left: 40px;
  width: 40%;
  background-color: #e7e0e0;
}

.deatails {
  right: 40px;
  width: 100%;
  background-color: #e7e0e0;
}

.centered {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
} */
