/* profileSidebar.css */

/* .profile-sidebar {
    border-radius: 20px;
  }
  
  .header {
    background-color: rgb(29, 185, 99);
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 2px;
  }

  .header p{
    font-weight: bold;
    margin: 2px;
    color: white;
  }

  .header h2{
    display: inline-block;
    margin: 2px;
  }

  .profile-sidebar-content p{
    text-align: justify;
  }

  .profile-sidebar-content p span{
    text-align-last: right;
  }
  
  .update-profile-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .update-profile-button:hover {
    background-color: #299b2e;
  }
  
  .update-profile-button:active {
    background-color: #299b2e;
  }
  */